/* add all styles here */
body {
	font-family: helvetica, sans-serif;
	font-size: 17px;
	color:#444;
	line-height: 25px;
}
h1 {
	font-size: 25px;
	text-transform: uppercase;
	color:#ccc;
}
h2 {
	font-size: 21px;
	color: orange;
	}

p, h1, h2, h4, h5, h5, ul {margin-bottom:20px;}

ul {
	margin-left: 45px;
	list-style-type: disc;
}


h3 {
	margin-left: 30px;
	font-weight: bold;
}
a {
 	color: gold;
 	text-decoration: none;
}
a:hover {text-decoration: underline;}
.wrapper {
	width:800px;
	padding:40px;
	margin:0 auto 0 auto;
	background-color: #eee;

}
.subhead {
	margin-left: 30px;
	border-left:6px solid #ccc;
	padding-left:6px;
}

.special {
	color: red;
}
