body {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color:#555;
	line-height: 19px;
}
p, h2, h4, h5, h5, ul {margin-bottom:20px;}
h1, h2, h3 {
	font-family: 'Fjord One', serif;
}

h1 {
}
h2 {
	font-size: 40px;
	line-height:50px;
	color: #777;
	}

h3 {
	font-size: 24px;
	line-height:29px;
	color: #777;
}
h4 {
	font-size: 21px;
	line-height:25px;
	color: #777;
}
ul {
	margin-left: 45px;
	list-style-type: square;
}

a {
 	color: gold;
 	text-decoration: none;
}
a:hover {text-decoration: underline;}

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
 
.clearfix:after {
clear: both;
}

.container {
	width: 960px;
	margin: 0 auto;
}
header {
	background-color: #000;
	padding:25px 0;
}

.logo-group {
	float: left;
	width:300px;
	margin-top:14px;
}
h1.logo {
	color: #B2C629;
	font-size: 48px;
	text-transform: uppercase;
}
.tagline {
	font-size:15px;
	color:#ddd;
	margin-top:14px;
}
nav.main-nav {
	float: right;
	width: 640px;
}
nav.main-nav ul {
	list-style-type: none;
	margin:0;
	float: right;
}
nav.main-nav li {
	float: left;
	}
nav.main-nav a {
	color: #999;
	display: block;
	padding: 0 18px;
	background-color: #333;
	height:52px;
	line-height:52px;
	font-size:17px;
	font-weight: bold;
}
nav.main-nav a.active, nav.main-nav a:hover {
	background-color: #B2C629;
	color:#fff;
	text-decoration: none;
}
section.slideshow {
	background: #B2C629;
	padding: 20px 0;
}
.slide-text {
float: left;
width: 420px;
margin-left: 60px;
}
.slide-image {
float: right;
width: 380px;
margin-right: 60px;
}
section.slideshow .container {
position: relative;
}
.prev-arrow, .next-arrow {
	position: absolute;
	top:95px;
}
.prev-arrow {
	left:0;
}
.next-arrow {
	right:0;
}

a.btn {
	padding: 10px 14px;
	background: #95AD19;
	color: #fff;
	font-weight: bold;
	border-radius: 8px;
}
section.teaser-group {
	padding:30px 0;
}
.teaser {
	float:left;
	width: 303px;
	padding-right: 25px;
}
.teaser:last-child {
	padding-right: 0;
}
.teaser-img {
	float:left;
	border: 1px solid #555;
	padding: 6px;
}
h3 {
	float:left;
	margin-left:15px;
	width: 200px;
	font-size: 19px;
	line-height: 22px;
}
.teaser p {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}