body {
	font-family: helvetica, arial, sans-serif;
	font-size: 13px;
	color:#555;
	line-height: 19px;
}
p, h2, h4, h5, h5, ul {margin-bottom:20px;}
h1, h2, h3 {
	font-family: 'Fjord One', serif;
}

h1 {
}
h2 {
	font-size: 40px;
	line-height:50px;
	color: #777;
	}

h3 {
	font-size: 24px;
	line-height:29px;
	color: #777;
}
h4 {
	font-size: 21px;
	line-height:25px;
	color: #777;
}
ul {
	margin-left: 45px;
	list-style-type: square;
}

a {
 	color: gold;
 	text-decoration: none;
}
a:hover {text-decoration: underline;}

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
 
.clearfix:after {
clear: both;
}

.container {
	width: 960px;
	margin: 0 auto;
}
header {
	background-color: #000;
	padding:25px 0;
}

.logo-group {
	float: left;
	width:200px;
}
nav.main-nav {
	float: right;
	color: white;
	width: 400px;
	background-color: #555;
	height:65px;
}
h1.logo {
	color:green;
	font-size: 48px;
	text-transform: uppercase;
}
.tagline {
	font-size:15px;
	color:#ddd;
	margin-top:14px;
}